@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Herr Von Muellerhoff';
    src: url(../font/HerrVonMuellerhoff-Regular.ttf);
    font-weight: 400;
}
